body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100vw;
    font-family: sans-serif;
    background: rgb(160,68,255);
    background: linear-gradient(90deg, rgba(160,68,255,1) 0%, rgba(106,48,147,1) 100%);
    color: #fff;
    transition: all .2s;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,.35);
    color: #000;
    border-radius: 15px;
}

.password {
    width: auto;
    padding: 13px 50px 13px 20px;
    border: 1px solid #000;
    position: relative;
    text-align: left;
}
.password p {
    padding: 0;
    margin: 0;
}
#copy {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    background: #d2d2d2;
    cursor: pointer;
}
#copy::before {
    content: url('/images/copy.png');
    position: absolute;
    right: 6px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
}
#copy:hover::after {
    opacity: 1;
}
#copy::after {
    content: 'Copy';
    padding: 5px 10px;
    background: #d2d2d2;
    color: #000;
    position: relative;
    top: -21px;
    right: 13px;
    opacity: 0;
    transition: all .2s;
}
a.btn {
    display: inline-block;
    padding: 12px 30px;
    margin-top: 20px;
    background: #c112c1;
    background: linear-gradient(90deg, rgba(106,48,147,1) 0%, rgba(160,68,255,1) 100%);
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
p.disclaimer {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
.disclaimer a {
    color: #fff;
}

